{% extends 'base.html.twig' %}

{% block title %}Edition de la salle{% endblock %}

{% block body %}
    <h1>Edition de la salle</h1>

    {{ include('partials/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
