{% extends 'base.html.twig' %}

{% block title %}Edition du raspberry{% endblock %}

{% block body %}
    <h1>Edition du raspberry</h1>

    {{ include('partials/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
