<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion des salles{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <style>
            .switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 28px;
            }
            .switch input {
                position: absolute;
                width: 100%;
                height: 100%;
                appearance: none;
                outline: none;
                background-color: rgb(202, 202, 202);
                border: 1px solid #adb5bd;
                border-radius: 25px;
                transition: .5s;
            }
            .switch input:checked {
                background-color: #007Bff;
            }
            .switch input:before {
                content: '';
                position: absolute;
                width: 26px;
                height: 26px;
                border-radius: 13px;
                top: 0;
                left: 0;
                background-color: #fff;
                transition: .5s;
            }
            .switch input:checked:before {
                left: 22px;
            } 
        </style>
        {% endblock %}
        
        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "partials/_nav.html.twig" %}
        </header>
        <main class="container">
        {% block body %}{% endblock %}
        </main>
    </body>
</html>
